body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.password-container{
    background-color: darkcyan;
    width: 500px;
    padding: 20px;
    box-shadow: 3px 4px 7px black;
    border-radius: 10px;
    margin: 10px;
}

h3{
    font-size: 22px;
    letter-spacing: 2px;
    margin: 12px 0;
}

.input-container{
    padding: 10px;
    border-radius: 10px;
    display: flex;
    border: 2px solid black;
    justify-content: space-between;
    align-items: center;
}

.input{
    border: none;
    background: transparent;
    outline: none;
    font-size: 24px;
    letter-spacing: 3px;
    color: black;
}

.input::placeholder{
    letter-spacing: 0;

}

i{
    cursor: pointer;
    opacity: 0.3;
}

i:hover{
    opacity: 0.8;
}

.btn{
    background: black;
    background: rgb(200, 143, 0);
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 3px 3px 3px black;   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

.btn:hover{
    background-image: linear-gradient(to bottom right , #f53682 , #ffc37e);
    color: white;
   
}

.btn:active{
    transform: scale(0.9);
}

.alert-container {
    width: 300px;
    height: 50px;
    position: fixed;
    background: #f53682;
    right: 20px;
    bottom: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 2px 2px 2px black;
    transition: 0.4s;

}

.active.alert-container{
    right: -300px;

}


